/* Hero */
.hero {
    position: relative;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    height: calc(100vh);
    padding: 0 5rem;
    background-image: url("/assets/background-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__left {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 15;
    padding-top: 2rem;
}

.hero__left-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -10px;
    width: 300px;
    background-color: var(--rich-black);
    border-radius: 0px 0px 15px 15px;
}

.hero__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 90%;
    z-index: 20;
    padding-right: 2rem;
}

.hero__title {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    color: var(--midnight-green);
    .hero__title-text {
        padding-left: 8px;
        padding-right: 8px;
        background-color: var(--midnight-green);
        color: var(--light-blue-2);
        overflow: hidden;
        padding-top: 2px;
        padding-bottom: 2px;
        display: flex;
        justify-content: center;
        border-radius: 0.5rem;
    }
    
    @media (min-width: 640px) {
        .hero__title-text {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
    
    @media (min-width: 768px) {
        .hero__title-text {
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    
}

.hero__text {
    color: var(--light-blue);
    max-width: 800px;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 17px;
    /* text-shadow: 2px 2px 4px rgb(8, 8, 8); */
    text-shadow: 1px 1px 3px var(--rich-black);
    /* -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); */
}

/* Language Selector */

.hero__language-selector {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero__button {
    color: var(--light-blue-2);
    padding: 10px 15px;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 2px solid var(--light-blue-2);
    border-radius: 50px;
    cursor: pointer;
    height: 3.6rem;
    width: 80%;
    margin-top: 2rem;
}

.hero__language-options {
    display: none;
    position: absolute;
    z-index: 100;
    min-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 2px solid var(--light-blue);
    border-radius: 0px 15px 0px 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.hero__language-selector:hover .hero__language-options {
    display: block;
    cursor: none;
}

.hero__language-options a {
    color: var(--light-blue-2);
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
}

.hero__language-options a:hover {
    background-color: var(--light-blue);
    color: var(--teal);
}

/* Scroll */
a {
    text-decoration: none;
}
.hero__scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1000;
}
.hero__scroll-text {
    color: var(--light-blue);
}

.hero__scroll .hero__scroll-box {
    animation: scroll-down 2s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
    0%,
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    35% {
        transform: translateY(1rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}
.hero__profile {
    width: auto;
    height: auto;
    position: relative;
}

.hero__circle-bg {
    transform: translate(-30px, 56px); /* antes none post -30px, 56px imagen animada  */
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 0;
    background-color: var(--midnight-green);
    -webkit-mask-image: radial-gradient(circle, transparent 55%, black 41%);
    mask-image: radial-gradient(circle, transparent 55%, black 41%);
    border-radius: 15px 15px 0px 0px;
}

.hero__image {
    width: 240px; /* antes auto post 240px imagen animada  */
    height: auto;
    position: relative;
    z-index: 2;
    transform: translateY(-4px); /* antes none post -4px imagen animada  */
}

.hero__button-link {
    position: absolute;
    width: 150px;
    height: 50px;
    z-index: 10;
    border-radius: 50px;
    background: rgba(65, 131, 131, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid var(--light-blue);
    cursor: pointer;
    font-size: 14px;
    transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.hero__button-link:hover {
    font-size: 15px;
    transform: scale(1.1);
}
.github {
    top: -40%;
    left: -70px;
    z-index: 10;
}
.linkedin {
    bottom: 20%;
    right: -70%;
    z-index: 10;
}


@media (max-width: 768px) {

    .hero {
        padding: 0;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .hero__title{
        padding: 2rem 0;
    }
    .hero__left{
        margin-top: 60px;
        .github{
            transform: translateY(-150px);
        }
        .linkedin{
            transform: translateY(-100px);
        }
    }
    .hero__right{
        padding: 2rem;
        .hero__title {
            font-size: 33px;
        }
    }
    .hero__scroll {
        transform: translateX(-50%);
    }
}

@media (min-width: 1440px) {
    .hero__text {
        font-size: 22px;
    }
}
